{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">Case Details</h3>
                            </div>
                        </div>
                    </div>
                    <div class="white_card">
                        <div class="QA_section plr_30">
                            <div class="QA_table mb_30">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Information</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td>{{case_obj.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Surname</td>
                                            <td>{{case_obj.surname}}</td>
                                        </tr>
                                        <tr>
                                            <td>Gender</td>
                                            <td>{{case_obj.gender}}</td>
                                        </tr>
                                        <tr>
                                            <td>Age</td>
                                            <td>{{case_obj.age}}</td>
                                        </tr>
                                        <tr>
                                            <td>Treatment required</td>
                                            <td>{{case_obj.treatment_required}}</td>
                                        </tr>
                                        <tr>
                                            <td>Orthodontic treatment past</td>
                                            <td>{{case_obj.orthodontic_treatment_past}}</td>
                                        </tr>
                                        <tr>
                                            <td>Section</td>
                                            <td>{{case_obj.section}}</td>
                                        </tr>
                                        <tr>
                                            <td>Treatment type</td>
                                            <td>{{case_obj.treatment_type}}</td>
                                        </tr>
                                        <tr>
                                            <td>Upper jaw</td>
                                            <td>
                                                {% if case_obj.upper_jaw %}
                                                <a href="{{case_obj.upper_jaw.url}}" target="_blank" download>Download</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Lower jaw</td>
                                            <td>
                                                {% if case_obj.lower_jaw %}
                                                <a href="{{case_obj.lower_jaw.url}}" target="_blank" download>Download</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Additional information</td>
                                            <td>{{case_obj.rquest_collection}}</td>
                                        </tr>
                                        <tr>
                                            <td>Rquest collection</td>
                                            <td>{{case_obj.rquest_collection}}</td>
                                        </tr>
                                        <tr>
                                            <td>Manager</td>
                                            {% if case_obj.dentist %}
                                                <td>{{case_obj.dentist.manager}}</td>
                                            {% else %}
                                                <td>{{case_obj.saloon_owner.manager}}</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <td>Planner</td>
                                            <td>{{case_obj.planner}}</td>
                                        </tr>
                                        <tr>
                                            <td>Technician</td>
                                            <td>{{case_obj.technician}}</td>
                                        </tr>
                                        <tr>
                                            <td>Status</td>
                                            <td>{{case_obj.status}}</td>
                                        </tr>
                                        <tr>
                                            <td>Created at</td>
                                            <td>{{case_obj.created_at}}</td>
                                        </tr>
                                        <tr>
                                            <td>Additional Images</td>
                                            <td>
                                                <div class="images-grid">
                                                    {% for image in additional_images_obj %}
                                                    <div class="image-holder">
                                                        <a href="{{ image.image.url }}" target="_blank" download>
                                                            <img src="{{image.image.url}}" class="image">
                                                        </a>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </td>
                                        </tr>
                                        <form method="post">
                                            <tr>
                                                <td>Planner</td>
                                                <td>
                                                    {% csrf_token %}
                                                    <select name="planner">
                                                        {% for obj in planner %}
                                                        <option value="{{obj.id}}">{{obj.user.username}}</option>
                                                        {% endfor %}
                                                    </select><br>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td><button class="btn btn-primary mt-3 ms-2" type="submit"
                                                    value="Create">Add Planner
                                                </button></td>
                                            </tr>
                                        </form>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}

{% endblock %}