{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">Create {{user_type}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="white_card_body">
                        <div class="card-body">
                            <form method="post" action="">{% csrf_token %}
                                <div class="row">
                                    <div class="row" id="more_flights">
                                        <div class="col-6">
                                            <div id="inputContainer">
                                                <br>
                                                <label>Name</label>
                                                <input type="text" class="form-control m-2 form-fields" placeholder="Name"
                                                    name="username" required>
                                                {% if form.errors.username %}
                                                    {{form.errors.username}}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div id="inputContainer">
                                                <br>
                                                <label>Surname</label>
                                                <input type="text" class="form-control m-2" placeholder="Surname"
                                                    name="surname" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="more_flights">
                                        <div class="col-6">
                                            <div id="inputContainer">
                                                <br>
                                                <label>Number</label>
                                                <input type="text" class="form-control m-2 form-fields" placeholder="Number"
                                                    name="number" required>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div id="inputContainer">
                                                <br>
                                                <label>Email</label>
                                                <input type="email" class="form-control m-2" placeholder="email"
                                                    name="email" required>
                                                {% if form.errors.email %}
                                                    {{form.errors.email}}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="more_flights">
                                        <div class="col-6">
                                            <div id="inputContainer">
                                                <br>
                                                <label>Password</label>
                                                <input type="password" class="form-control m-2 form-fields" placeholder="Password"
                                                    name="password1" required>
                                                {% if form.errors.password1 %}
                                                    {{form.errors.password1}}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div id="inputContainer">
                                                <br>
                                                <label>Confirm Password</label>
                                                <input type="password" class="form-control m-2" placeholder="Confirm Password"
                                                    name="password2" required>
                                                {% if form.errors.password2 %}
                                                    {{form.errors.password2}}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary mt-3 ms-2" type="submit" value="Create">Create
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}