{% extends 'base.html' %}
{% load static %}
{% load manager_dentists %}
{% load manager_total_cases %}
{% load manager_case_accepted %}

{% block head %}

{% endblock %}

{% block content %}
<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">Manager List</h3>
                            </div>
                            <div class="main-title">
                                <a href="{% url 'AdminRoll:create_user' 'manager' %}" class="add-user-btn">Add Manager</a>
                            </div>
                        </div>
                    </div>
                    <div class="white_card">
                        <div class="QA_section plr_30">
                            <div class="QA_table mb_30">
                                <table class="table lms_table_active ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Contact</th>
                                            <th scope="col">Number of dentist</th>
                                            <th scope="col">Case sent</th>
                                            <th scope="col">Case accepted</th>
                                            <th scope="col">Fee (% of treatment)</th>
                                            <th scope="col">Account</th>
                                            <th scope="col">Outstanding</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for obj in manager_obj_list %}
                                        <tr>
                                            <td>{{ obj.user.username }}</td>
                                            <td>{{ obj.number }}</td>
                                            <td>{{obj.id|manager_dentists}}</td>
                                            <td>{{obj.id|manager_total_cases}}</td>
                                            <td>{{obj.id|manager_case_accepted}}</td>
                                            <td>{{ obj.fee }}</td>
                                            <td></td>
                                            <td>{{ obj.outstanding }}</td>
                                            <td><a href="{% url 'AdminRoll:edit_manager' obj.id %}">Edit</a></td>
                                            <td><a href="{% url 'AdminRoll:delete_user' obj.id 'manager' %}">Delete</a></td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}

{% endblock %}