{% extends 'full_base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="white_box mb_30">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">

                            <div class="modal-content cs_modal">
                                <div class="modal-header justify-content-center theme_bg_1">
                                    <h5 class="modal-title text_white">Log in</h5>
                                </div>
                                <div class="modal-body">
                                    {% if error_msg %}
                                    <div class="text-center alert error-message">
                                        {{error_msg}}
                                    </div>
                                    {% endif %}

                                    <form method="post">
                                        {% csrf_token %}

                                        <span class="text-danger">{{ form.non_field_errors }}</span>

                                        <div class="form-fields-holder">
                                            <input class="form-control form-fields" type="email" name="email"
                                                placeholder="Email" required>
                                        </div>

                                        <div class="form-fields-holder">
                                            <input class="form-control" type="password" name="password"
                                                placeholder="Password" required>
                                        </div>

                                        <button type="submit" class="btn_1 full_width text-center">Log in</button>
                                        <p>Need an account? <a data-bs-toggle="modal" data-bs-target="#sing_up"
                                                data-bs-dismiss="modal" href="{% url 'sign_up' %}"> Sign
                                                Up</a></p>
                                        <div class="text-center">
                                            <a href="{% url 'password_reset' %}" data-bs-toggle="modal" data-bs-target="#forgot_password"
                                                data-bs-dismiss="modal" class="pass_forget_btn">Forget
                                                Password?</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}