{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">DashBoard</h3>
                            </div>
                        </div>
                    </div>
                    <div class="white_card ">
                        <div class="QA_section plr_30">
                            <div class="QA_table mb_30">

                                <table class="table lms_table_active ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Patient Name</th>
                                            <th scope="col">Dentist</th>
                                            <th scope="col">Treatment</th>
                                            <th scope="col">Aligners</th>
                                            <th scope="col">User</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Progress</th>
                                            <th scope="col">Invoice</th>
                                            <th scope="col">Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for case in case_list %}
                                        {% if case.status == 'new' %}
                                        <tr class="new-case-tr">
                                        {% else %}
                                        <tr>
                                        {% endif %}
                                            <td>{{ case.created_at }}</td>
                                            <td>
                                                <div class="custom_tooltip">
                                                    {{ case.name }}-{{ case.surname }}
                                                    {% if case.refinement > 0 %}
                                                        - {{case.refinement}}
                                                    {% endif %}
                                                    <span class="custom_tooltiptext">
                                                        <p>Name: {{ case.name }}-{{ case.surname }}</p>
                                                        <p>ID: {{ case.id }}</p>
                                                    </span>
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="custom_tooltip">{{ case.dentist }}-{{ case.dentist.surname }}
                                                    <span class="custom_tooltiptext">
                                                        <p>Name: {{ case.dentist }}-{{ case.dentist.surname }}</p>
                                                        <p>Clinic: {{ case.clinic }}</p>
                                                    </span>
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="custom_tooltip">{{ case.treatment_required }}
                                                    <span class="custom_tooltiptext">
                                                        <p>Treatment: {{ case.treatment_required }}</p>
                                                        <p>Section: {{ case.section }}</p>
                                                    </span>
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="custom_tooltip">Aligners
                                                    <span class="custom_tooltiptext">
                                                        <p>Alligners-Upper: {{ case.aligners_upper }}</p>
                                                        <p>Alligners-Lower: {{ case.aligners_lower }}</p>
                                                        <p>Duration: {{ case.duration }}</p>
                                                    </span>
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="custom_tooltip">Users
                                                    <span class="custom_tooltiptext">
                                                        <p>Manager: {{ case.dentist.manager }}</p>
                                                    </span>
                                                  </div>
                                            </td>
                                            <td>{{ case.status }}</td>
                                            <td>{{ case.progress }}</td>
                                            <td>Invoice</td>
                                            <td>
                                                {% if case.status == "new" %}
                                                <a href="{% url 'DentistRoll:edit_case' case.id %}">View</a>
                                                {% elif case.status == "waiting acceptance" %}
                                                <a href="{% url 'DentistRoll:waiting_case_details' case.id %}">View</a>
                                                {% elif case.status == "accepted" %}
                                                <a href="{% url 'DentistRoll:waiting_case_details' case.id %}">View</a>
                                                {% elif case.status == "treatment" %}
                                                <a href="{% url 'AdminRoll:case_treatment' case.id %}">View</a>
                                                {% elif case.status == "on-hold" %}
                                                <a href="{% url 'DentistRoll:waiting_case_details' case.id %}">View</a>
                                                {% elif case.status == "review" %}
                                                <a href="{% url 'DentistRoll:waiting_case_details' case.id %}">View</a>
                                                {% elif case.status == "declined" %}
                                                <a href="{% url 'DentistRoll:waiting_case_details' case.id %}">View</a>
                                                {% elif case.status == "tc" %}
                                                <a href="{% url 'AdminRoll:case_treatment' case.id %}">View</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}

{% endblock %}